$main-color: #ea4c89;
$second-color: #fdedf0;
$third-color: #f5f7f9;
$loader_main: #f182ac;

$hover-main: #ec4c77;
$hover-bg: #eaeaeb;
$hover-second: #f0f0f0;
$tranparent-bg: rgba(0, 0, 0, 0);

$text-color: #68849b;

// Component size
$header-h: 70px;