@import "../variable";

.profile_about {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
  .about_main,
  .about_aside {
    display: block;
    width: 50%;
    padding: 1%;
  }

  div {
    display: block;
    .about_item {
      display: block;
      margin: 8px 0;
      .about_title {
        font-weight: bold;
        margin: 8px 0;
      }
      .skill_list {
        display: flex;
        flex-wrap: wrap;
        .skill_item {
          font-size: 13px;
          font-weight: bold;
          padding: 8px 6px;
          margin-right: 8px;
          margin-bottom: 8px;
          border-radius: 5px;
          background-color: #f3f3f4;
          transition: all ease-in-out 0.3s;
        }
        .skill_item:hover {
          background-color: #e7e7e9;
        }
      }
      .about_more-list {
        display: block;
        .about_more-item {
          display: flex;
          align-items: center;
          font-size: 14px;
          margin: 8px 0;
          i {
            margin-right: 8px;
            color: #3d3d4e;
          }
        }
        .about_more-item.spec {
          font-size: 15px;
          i {
            font-size: 20px;
          }
        }
        .about_more-item.hidden{
          display: none;
        }
      }
    }
    .statics_total {
      display: flex;
      height: 50px;
      align-items: center;
      border-top: 1.5px solid #f0f0f0;
      .statics_value {
        font-size: 15px;
        margin-right: 8px;
        color: $text-color;
      }
    }
  }
}

/* Mobile Tablet */
@media (max-width: 1023px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
 
}

/* Mobile */
@media (max-width: 739px) {
  .profile_about {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    .about_main,
    .about_aside {
      display: block;
      width: 100%;
      padding: 1%;
    }
  }
}