@import "../variable";

.project_item {
  display: block;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  padding: 1.5%;
  background-color: #fff;
  .project_thumbnail {
    display: block;
    width: 100%;
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      object-fit: cover;
    }
    .project_actions {
      opacity: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 9;
      display: flex;
      width: 100%;
      height: 50px;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0 5%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      transition: all ease-in-out 0.2s;
      .project_name {
        display: block;
        width: 65%;
        font-weight: bold;
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .project_save{
        display: block;
        height: 35px;
        width: 35px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        color: gray;
      }
      .project_save:hover, .project_save.active{
        color: $main-color;
      }
    }
  }
  .project_info {
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
    margin-top: 8px;
    .info_aside {
      flex: 1.5;
      display: flex;
      height: 100%;
      align-items: center;
      .info_avt {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        img {
          object-fit: cover;
        }
      }
      .info_name {
        display: block;
        width: calc(100% - 43px);
        height: 50%;
        font-size: 15px;
        font-weight: bold;
        margin: 0 8px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .info_main {
      flex: 1;
      display: flex;
      justify-content: space-around;
      height: 100%;
      button {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        background-color: $tranparent-bg;
        font-weight: bold;
        color: $text-color;
        border: none;
        margin: 0 4px;
        i {
          flex: 1;
          text-align: center;
          font-size: 16px;
        }
        span {
          text-align: center;
          font-size: 15px;
          margin: 0 4px;
        }
      }
      .info_save:hover,
      .active {
        color: $main-color;
      }
    }
  }
}
.project_item:hover{
    .project_thumbnail {
        .project_actions {
          opacity: 1;
        }
      }
}
