@import "../variable";
.upload_pro-nav{
  display: block;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(100%);
  opacity: 0;
  transition: all ease-in-out 0.2s;
  .upload_pro-layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
    background-color: rgba($color: #000000, $alpha: .2);
  }
  .upload_pro-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: block;
    width: 350px;
    height: 100%;
    background-color: white;
    
    padding: 2%;
    .close_model{
      display: block;
      border: none;
      background-color: transparent;
      font-size: 18px;
    }
    .model_title{
      font-size: 22px;
      font-weight: bold;
      margin: 30px 0;
    }
    .block_list{
      display: block;
      .block_item-btn{
        display: block;
        width: 100%;
        height: 45px;
        text-align: left;
        margin: 8px 0;
        font-size: 18px;
        background-color: transparent;
        border: none;
        padding: 0 10px;
        border-radius: 10px;
        transition: all ease-in-out 0.3s;
        i{
          margin-right: 8px;
        }
      }
      .block_item-btn:hover{
        background-color: #f8f8f8;
      }
    }
  }
}
.upload_pro-nav.active{
  opacity: 1;
  transform: translateY(0);
}